# Base API URL (Gunakan '/api' jika memakai proxy Vite lokal atau full URL untuk remote backend)
VITE_API_BASE_URL=/api

# Real-Time WebSocket (Laravel Reverb)
VITE_REVERB_APP_KEY=lapaqu-reverb-key
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http

# Base URL untuk akses katalog pemesanan mandiri pelanggan (Customer Self-Order)
VITE_CUSTOMER_BASE_URL=http://localhost:5173
